@model IEnumerable<Salvation.Models.Genero>
@* Define que esta View receberá uma lista (IEnumerable) de objetos do tipo Classificacao *@

@{
    ViewData["Title"] = "Lista de Gêneros";
}

<h2>@ViewData["Title"]</h2>

<p>
    @if (User.IsInRole("Administrador") || User.IsInRole("Gerente"))
    {
        // Exibe o botão "Novo Gênero" somente para Administrador e Gerente
        <a asp-action="Create" class="btn btn-outline-success">Novo Gênero</a>
    }
</p>



<!-- Tabela de listagem -->
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            @if (User.IsInRole("Administrador") || User.IsInRole("Gerente"))
            {
                <th>Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdGenero</td>
                <td>@item.DescricaoGenero</td>
                @if (User.IsInRole("Administrador") || User.IsInRole("Gerente"))
                {
                    <td>
                        @if (User.IsInRole("Administrador") || User.IsInRole("Gerente"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.IdGenero" class="btn btn-outline-primary btn-sm">Editar</a>
                        }

                        @if (User.IsInRole("Administrador"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.IdGenero" class="btn btn-outline-danger btn-sm">Excluir</a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
